<%= content_for :metatags do %>
    <% og_meta_title(@recognition) %>
    <meta property="og:title" content="<%= og_meta_title(@recognition) %>"/>
    <meta property="og:type" content="<%= og_meta_type(@recognition) %>"/>
    <meta property="og:url" content=<%= @recognition.public_url %>/>
    <meta property="og:image" content="https://s3.amazonaws.com/compliment_karma_prod/assets/ck_logo_bg.png"/>
    <meta property="og:site_name" content="ComplimentKarma"/>
    <meta property="fb:app_id" content="359374450819330"/>
    <meta property="og:description" content="<%= og_meta_title(@recognition) %>"/>
<% end %>
<div class="popup-box">
	<div class="popup-header clearfix">
		<div class="date">
			<%= timestamp(@updated_at) %>
		</div>
		<div class="like-button-container">
			<% if current_user.blank? %>

			<% elsif @recognition.is_compliment? && @compliment_popup %>
				<%= like_button(@compliment_popup.id, @recognition.recognition_type_id) %>
			<% elsif @recognition.is_reward? %>
				<%= like_button(@reward.id, @recognition.recognition_type_id) %>
			<% elsif @recognition.is_accomplishment? %>
				<%= like_button(@user_accomplishment.id, @recognition.recognition_type_id) %>
			<% end %>
		</div>
	</div>	
	<div class="popup-box-container">
		<% if @recognition.is_compliment? %>
			<%= render 'recognitions/detail_panels/detail_compliment' %>
		<% elsif @recognition.is_reward? %>
			<%= render 'recognitions/detail_panels/detail_reward' %>
		<% elsif @recognition.is_accomplishment? %>
			<%= render 'recognitions/detail_panels/detail_accomplishment' %>
		<% end %>
		<div class="item-comments clearfix">
			<ul id="detail-comments-list-js">
				<%= render 'recognition_comments/comment_list', :comments => @comments %>
			</ul>

			<% if @recognition.is_accomplishment?
				   data_for_recognition_id = @user_accomplishment.id 
				 else
				 	 data_for_recognition_id = @recognition.recognition_id
			 	 end
			%>
			<% unless current_user.blank? %>
				<%= render :partial => 'recognition_comments/new',
									 :locals => { :recognition_id => data_for_recognition_id,
									 							:recognition_type_id => @recognition.recognition_type_id }  %>
			<% end %>
		</div>
		<div class="item-likes clearfix">
			<h5><%= display_likes_header_count(@likes_count) %></h5>
			<% if @likes_users %>
				<% @likes_users.each do |u| %>
				  <%= get_user_photo_link_mini(u) %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>