<div class="left-column">
	<div class="image-function">
		<%= get_user_photo_link_small(@receiver) %>
		<div class="functions">
			<h3><%= get_user_full_name(@receiver) %></h3>
			<%= compliment_button(@receiver) %>
			<%= follows_button_medium(@receiver) %>
		</div>
	</div>
</div>
<div class="left-column">
	<div class="action reward-action">Rewards</div>
</div>
<div class="right-column">
	<div class="image-function">
		<%= image_tag 'reward_money.png' %>
		<div class="functions">
			<h3><%= number_to_currency(@reward.value) %></h3>
		</div>
	</div>
</div>
<div class="clear"></div>