<div class="left-column">
	<div class="image-function">
		<div class="photo-profile">
			<%= get_user_photo_link_profile(@sender) %>
		</div>
		<h3><%= link_to get_user_full_name(@sender), @sender, :class => "black hover-blue"  %></h3>
		<%= render :partial => 'recognition/popup_user_info', 
								 :locals => {:user => @sender, 
								 						 :professional => ComplimentType.is_professional?(@compliment_type_id) } %>
		<div class="functions clearfix">
			<div class="profile-button" style="margin-right: 10px;">
				<%= compliment_button_medium(@sender) %>
			</div>
			<%= render 'follows/follows_button', :user => @sender %>
		</div>
	</div>
</div>
<div class="left-column">
	<% if ComplimentType.is_professional?(@compliment_type_id) %>
		<div class="action professional-compliment-action">Compliments</div>
	<% else %>
		<div class="action personal-compliment-action">Compliments</div>
	<% end %>
</div>
<div class="right-column">
	<div class="image-function">
		<div class="photo-profile">
			<%= get_user_photo_link_profile(@receiver) %>
		</div>
		<h3><%= link_to get_user_full_name(@receiver), @receiver, :class => "black hover-blue" %></h3>
		<%= render :partial => 'recognition/popup_user_info', 
								 :locals => {:user => @receiver, 
								 						 :professional => ComplimentType.is_professional?(@compliment_type_id) } %>
		<div class="functions clearfix">
			<div class="profile-button" style="margin-right: 10px;">
				<%= compliment_button_medium(@receiver) %>
			</div>
			<%= render 'follows/follows_button', :user => @receiver %>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="item-details clearfix">
	<div class="item-details-label"><%= get_user_full_name(@sender) %> says</div>
	<div class="item-details-comment"><%= compliment_text(@compliment_popup) %></div>
	<div class="clear"></div>
	<div class="item-details-label">Skill</div>
	<div class="item-details-comment"><%= compliment_skill(@compliment_popup) %></div>
	<div class="clear"></div>
	<div class="item-details-label">Compliment Type</div>
	<div class="item-details-comment"><%= @compliment_type %></div>
</div>