<div class="left-column">
	<div class="image-function">
		<div class="photo-small">
			<%= get_user_photo_link_small(@sender) %>
		</div>
		<div class="functions">
			<h3><%= get_user_full_name(@sender) %></h3>
			<%= compliment_button_medium(@sender) %>
			<span id="follows-button-<%= @sender.id %>"><%= follows_button_medium(@sender) %></span>
		</div>
	</div>
</div>
<div class="left-column">
	<% if ComplimentType.is_professional?(@compliment_type_id) %>
		<div class="action professional-compliment-action">Compliments</div>
	<% else %>
		<div class="action personal-compliment-action">Compliments</div>
	<% end %>
</div>
<div class="right-column">
	<div class="image-function">
		<div class="photo-small">
			<%= get_user_photo_link_small(@receiver) %>
		</div>
		<div class="functions">
			<h3><%= get_user_full_name(@receiver) %></h3>
			<%= compliment_button_medium(@receiver) %>
			<span id="follows-button-<%= @receiver.id %>"><%= follows_button_medium(@receiver) %></span>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="item-details clearfix">
	<div class="item-details-label"><%= get_user_full_name(@sender) %> says</div>
	<div class="item-details-comment"><%= compliment_text(@compliment_popup) %></div>
	<div class="clear"></div>
	<div class="item-details-label">Skill</div>
	<div class="item-details-comment"><%= compliment_skill(@compliment_popup) %></div>
	<div class="clear"></div>
	<div class="item-details-label">Compliment Type</div>
	<div class="item-details-comment"><%= @compliment_popup_type %></div>
</div>