<%= content_for :javascript do %>
	<script type="text/javascript">
		$(function() {
			UserProfile.reinitialize();
			var view = '<%= j(render "recognition/detail_view") %>';
			var socialPopup = '<%= j(render "recognition/social_popup_links",
																			{:recognition_id => @recognition_id,
																			 :recognition_type_id => @recognition_type_id,
																			 :iframe => true}) %>';
			var userId = '<%= current_user.id %>';
			ShowRecognitionFancyBox.init(view, socialPopup, userId);
			UserProfile.showCommentButtonOnClick();
			UserProfile.followButtonHover();
		});
	</script>
<% end %>

<%= link_to 'test', '#test', :id => "show-fancybox", :class => 'fancybox' %>
<div id="test" style="display: none;">
	testing
</div>