<script type="text/javascript">
	$(function() {
		Reward.init();
		$('#select-reward-results').tablesorter({
			headers: {
				6: {
					sorter: false
				}
			}
		});
	})
</script>
	<%= form_tag "/rewards/add_to_cart", :id => 'reward-add-to-cart-form' do %>
		<%= hidden_field_tag 'company_user_id', @user.id %>
		<table id="select-reward-results" class="tablesorter">
			<thead>
				<tr class="header-row">
					<th><div class="col1">Rank</div></th>
					<th><div class="col2">Full Name</div></th>
					<th><div class="col2">User Type</div></th>
					<th><div class="col2c">Department</div></th>
					<th><div class="col2c">Manager</div></th>
					<th><div class="col5c"><%= activity_type.name unless employees.blank? %></div></th>
					<th><div class="col6c reward-amount-header">Reward Amount</div></th>
				</tr>
			</thead>
			<tbody>
				<% unless employees.blank? %>
					<% employees.each_with_index do |employee, index| %>
						<tr>
							<td class="centered"><%= index + 1 %></td>
							<td><%= employee[:full_name] %></td>
							<td><%= employee[:user_type] %></td>
							<td class="centered"><%= employee[:department] %></td>
							<td class="centered"><%= employee[:manager] %></td>
							<td class="centered"><%= employee[:activity_type] %></td>
							<td>
								<%= text_field 'reward', 
															 employee[:id], 
															 :size => 7, 
															 :class=> 'reward-amount', 
															 :style => "background: #ffffff;" %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
			<tr class="footer-row">
				<td colspan="5"></td>
				<td style="font-weight: bold; font-size: 14px; text-align: right;">Total Reward Amount</td>
				<td id="total-reward-amount" style="font-weight: bold; font-size: 14px; padding-left: 5px;"></td>
			</tr>
		</table>
		<div class="add-to-cart-submit">
			<button class="button-link" id="ajax-submit">
				<%= image_tag 'shopping_cart.png', :height => '20' %>
				<span style="margin-left: 5px;">Add to Cart</span>
			</button>
			<button type="submit" class="button-link" style="padding-top: 2px;">Checkout</button>
		</div>
		<div class="clear"></div>
	<% end %>
</div>