<div id="progress">
	<div id="arrow1">
		<div class="arrow <%= set_active(active, 1) %>">
			<div class="number_<%= set_active(active, 1) %>">1</div>
			<div class="h1-padding">
				<h1 class="h1_<%= set_active(active, 1) %>">Sign Up</h1>
			</div>
		</div>
	</div>
	<div id="arrow2">
		<div class="arrow <%= set_active(active, 2) %>">
			<div class="number_<%= set_active(active, 2) %>">2</div>
			<div class="h1-padding">
				<h1 class="h1_<%= set_active(active, 2) %>">Invite Co-workers</h1>
			</div>
		</div>
	</div>
	<div id="arrow3">
		<div class="arrow <%= set_active(active, 3) %>">
			<div class="number_<%= set_active(active, 3) %>">3</div>
			<div class="h1-padding">
				<h1 class="h1_<%= set_active(active, 3) %>">Invite Others</h1>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>