<%= content_for :javascript do %>
	<script type="text/javascript">
		$(function() {
			var flashMsg = "<%= flash[:error] %>";
			if(flashMsg.length > 0) {
				$('#field label').hide();
			}

			var userEmail = '<%= current_user.email %>';
			var userId = '<%= current_user.id %>';
			var perPage = '<%= @per_page %>';
			var unconfirmed = '<%= @unconfirmed %>';
			var pendingItems = '<%= @pending_items_count %>';
			UserProfile.init(userId, perPage, userEmail, unconfirmed, pendingItems);
		});
	</script>
<% end %>
<div id="user-profile">
	<div class="left-one-third">
		<%= render 'users/panels/user_profile_short', :flash => flash %>
	</div>
	<%= render 'compliments/new_compliment' %>
	<div id="karma-live-updates" class="right-two-thirds">
		<%= render 'my_updates/my_updates' %>
		<div id="infinite-scroll-processing">
			<!-- Loading Records &nbsp; <%#= image_tag('ajax-loader.gif') %> -->
			<div class="clear"></div>
		</div>
	</div>
</div>