<%= content_for :stylesheets do %>
	<style type="text/css">
		#nav-upper-right, #nav-main-menu, #menu-bar-search-form { display: none; }
		#menu-bar-container { display: none; }
		#header { height: 50px;}
	</style>
<% end %>
<%= content_for :javascript do %>
	<script>
		$(function() {
			var newUser = '<%= flash[:new_user] %>';
			if(newUser) {
				$.fancybox('#new-user',{
					maxWidth: 400,
					minHeight: 220,
					maxHeight: 400
				});
			}
			FormHelpers.init();
		});
	</script>
<% end %>
<div class="grid_16 main">
	<div id="signup" class="grid_12">
		<div id="form-heading">
			<p class="signup-title">
				<strong>Sign Up</strong> for a 100% free account
			</p>
			<p class="medium">happy complimenting</p>
		</div>
		<div class="clear"></div>
		<%= form_for(@user, :validate => true, 
								 :html => {:id => 'signup-form', :multipart => true }) do |f| %>
			<fieldset>
				<div id="data-entry" class="clearfix">
					<div id="label"><%= f.label :email, "Email" %></div>
					<div id="field"><%= f.text_field :email, :autocomplete => 'off' %>
					</div>
				</div>
				<div id="data-entry" class="clearfix">
					<div id="label"><%= f.label :name, "Full Name" %></div>
					<div id="field"><%= f.text_field :name, :autocomplete => 'off' %>
						<span class="field-helper">e.g. Bruce Wayne or Bruce A Wayne</span>
					</div>
				</div>
				<div id="data-entry" class="clearfix">
					<div id="label"><%= f.label :password %></div>
					<div id="field"><%= f.password_field :password, :autocomplete => 'off'  %>
						<span class="field-helper">6 characters or more</span>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<p style="margin: 20px 0 10px 130px; color: #000000;">
					By clicking Sign Up Free, you agree to our 
					<%= link_to 'Terms', '#terms-and-conditions', :class => 'fancybox' %>
					</p>
				<div>
					<button class="sign-up" type=submit>Sign Up Free</button>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>

<div id="new-user" style="display: none;">
	<%= image_tag 'ck_logo.png' %>
	<h1>Welcome to ComplimentKarma</h1>
	<p>Thank you for using ComplimentKarma to send a compliment. Please fill in the 
		sign up form to create your account.
	  Once you have confirmed your account we will send your compliment and you 
		can use ComplimentKarma to Share Compliments and Earn Rewards!</p>
	<h2>Thanks!</h2>
</div>

<div id="terms-and-conditions" style="display: none;">
	<%= image_tag 'ck_logo.png' %>
	<h1>Compliment Karma Terms</h1>
	<p>"All living beings have actions (Karma) as their own, their inheritance, <br />
		their congenital cause, their kinsman, their refuge. It is Karma that <br />
		differentiates beings into low and high states."</p>
	<p><i>Buddha</i></p>
	<br />
	<%= link_to 'http://www.buddhanet.net/e-learning/karma.htm', 
							'http://www.buddhanet.net/e-learning/karma.htm',
							:style => "font-size: 10px;" %>
</div>