<div id="content-container">
	<div class="rewards-header">
		<p class="title">Rewards and Reporting</p>
	</div>
	<div class="send-reward">
		<%#= render 'rewards/filter_criteria' %>
		<div class="rewards-body">
			<%= form_tag("/users/#{@user.id}/rewards/filter_rewards_results", 
									 :id => 'reward-filter-form',
									 :remote => true
									 ) do %>
				<div class="user-filter-info">
					<fieldset style="padding: 20px 0 0 0;">
						<ol>
							<li>
						    <%= label 'filter', "time_period", "Time Period" %>
						    <%= select_tag 'filter_time_period_type', options_for_select(['Before', 'Between', 'After']) %>
						    <%= text_field 'filter', 'as_of_date', :size => 15 %>
						    <div id="show-stop-date" style="display: none; float:left;">
							    <span style="padding: 2px 5px; float:left;">And</span>
							    <%= text_field 'filter', 'stop_date', :size => 15 %>
							  </div>
						    <div class="clear"></div>
							</li>
						</ol>
					</fieldset>
				</div>
				<div class="user-filter-submit">
					<button type=submit>Update Time Period</button>
				</div>
			<% end %>
			<div class="clear"></div>
		</div>
		<div id="rewards-results">
			<%= render :partial => 'rewards/rewards_results', 
								 :locals => {:departments => @departments,
								 						:department => @department, 
														:user => @user, 
														:employees => @employees} %>
		</div>
	</div>
</div>