<div id="content-container">
	<div class="rewards-header">
		<p class="title">Rewards and Reporting</p>
	</div>
	<div class="send-reward">
		<%#= render 'rewards/filter_criteria' %>
		<div class="rewards-body">
			<%= form_tag("/users/#{@user.id}/rewards", 
									 :id => 'reward-filter-form',
									 :remote => true
									 ) do %>
				<div class="user-filter-info">
					<fieldset style="padding: 20px 0 0 0;">
						<ol>
							<li>
								<%= label 'filter', 'number_of_employees', 'Number of Employees to Show' %>
								<%= text_field 'filter', 'number_of_employees', :size => 7 %>
						    <div class="clear"></div>
							</li>
							<li>
						    <%= label 'filter', "department", "Department" %>
								<%= select_tag 'filter[department_id]',
															 options_from_collection_for_select(@departments, :id, :name),
															 :prompt => 'All Departments' %>
						    <div class="clear"></div>
						  </li>
							<li>
						    <%= label 'filter', "manager", "Manager" %>
								<%= text_field 'filter', 'manager_id', :style => "width: 290px;" %>
						    <div class="clear"></div>
						  </li>
							<li>
						    <%= label 'filter', "activity_type", "Activity Type" %>
								<%= select_tag 'filter[activity_type_id]', 
															 options_from_collection_for_select(@activity_types, :id, :name),
															 :selected => 'Compliments Received' %>
						    <div class="clear"></div>
						  </li>
							<li>
						    <%= label 'filter', "user_type", "User Type" %>
								<%= select_tag 'filter[user_type_id]',
															 options_from_collection_for_select(@user_types, :id, :name),
															 :prompt => 'All' %>
						    <div class="clear"></div>
						  </li>
							<li>
						    <%= label 'filter', "time_period", "Time Period" %>
						    <%= select_tag 'filter[time_period]', 
						    							 options_for_select(['After', 'Before', 'Between']),
						    							 :style => 'width: 170px; margin-right: 5px;' %>
						    <%= text_field 'filter', 'as_of_date', :size => 15 %>
						    <div id="show-stop-date" style="display: none; float:left;">
							    <span style="padding: 2px 5px; float:left;">And</span>
							    <%= text_field 'filter', 'stop_date', :size => 15 %>
							  </div>
						    <div class="clear"></div>
							</li>
						</ol>
					</fieldset>
					<div class="user-filter-submit">
						<button type=submit>Show Employees</button>
					</div>
				</div>

			<% end %>
			<div class="clear"></div>
		</div>
		<div id="rewards-results">
			<%= render :partial => 'rewards/rewards_results', 
								 :locals => {:departments => @departments,
								 						:department => @department,
														:user => @user, 
														:employees => @employees,
														:activity_type => @activity_type } %>
		</div>
	</div>
</div>