<%= content_for :javascript do %>
	<script type="text/javascript">
		$(function() {
			var flashMsg = '<%= flash[:error] %>';
			if(flashMsg.length > 0) {
				$('#field label').hide();
			}

			$('#photo-upload-input').on({
				change: function() {
					$('#photo-upload-form').submit();
				}
			});

			var userId = '<%= @user.id %>';
			var perPage = '<%= @per_page %>';
			var userEmail = '<%= current_user.email %>';
			var totalCount = '<%= @karma_live_items_count %>';
			UserProfile.init(userId, perPage, totalCount, userEmail);
			UserMenu.init();
		});
	</script>
<% end %>
<%= hidden_field_tag 'current_action', @current_action %>
<%= hidden_field_tag :feed_items_count, @karma_live_items_count %>
<div id="user-profile">
	<div class="left-one-third">
		<%= render 'users/panels/user_profile_short', :flash => flash %>
		<%= render 'users/menu/menu' %>
	</div>
	<%= render 'compliments/new_compliment' %>
	<div id="content-container">
		<%= render 'users/menu/karma_live' %>
	</div>
</div>