<%= content_for :javascript do %>
	<script type="text/javascript">
		$(function() {
			var flashMsg = '<%= flash[:error] %>';
			if(flashMsg.length > 0) {
				$('#field label').hide();
			}

			$('#photo-upload-input').on({
				change: function() {
					$('#photo-upload-form').submit();
				}
			});

			var userId = '<%= current_user.id %>';
			var perPage = '<%= @per_page %>';
			var userEmail = '<%= current_user.email %>';
			UserProfile.init(userId, perPage, userEmail);
		});
	</script>
<% end %>
<%= hidden_field_tag 'current_action', @current_action %>
<%= hidden_field_tag :feed_items_count, @karma_live_items_count %>
<div id="explanation">
	<%= render 'shared/flash', :flash => flash %>
</div>
<div id="user-profile">
	<%= render 'users/panels/user_profile_short', :flash => flash %>
	<div id="content-container">
		<%= render 'users/menu/karma_live' %>
	</div>
	<%= render 'users/panels/new_compliment' %>
	<%= render 'users/menu/menu' %>
</div>