<script>
	$(function() {
		Admin.init();
	});
</script>
<div id="admin-menu" class="drop-box">
	<div class="am-current-user">
		<ul>
			<li class="active-user no-hover">
				<div class="am-user-image">
					<%= image_tag(current_user.photo.url(:thumb)) %>
				</div>
				<% if current_user.is_a_company? %>
					<div class="am-user-info">
						<span class="am-name"><%= current_user.company.name %></span><br />
						<%#= link_to "Settings", '#', :class => 'ul_hover am-current-user-links' %>
					</div>
				<% else %>
					<div class="am-user-info">
						<span class="am-name"><%= current_user.first_last %></span><br />
						<span class="am-email"><%= current_user.email %></span><br />
						<%#= link_to "Settings", '#', :class => 'ul_hover am-current-user-links' %>
					</div>
				<% end %>
				<div class="clear"></div>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
	<% if customer_admin_user? %>
		<ul>
			<% current_user.companies.each do |company| %>
				<% c_user = company.user %>
				<% if c_user.id != current_user.id %>
					<%= link_to switch_accounts_path(c_user), :class => 'company_profile' do %>
						<li>
							<div class="am-user-profile-image">
								<%= image_tag(c_user.photo.url(:thumb)) %>
							</div>
							<div class="am-user-profile-info">
								<%= company.name %>
							</div>
							<div class="clear"></div>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
		<div class="clear"></div>
	<% elsif current_user_2 %>
		<ul>
			<%= link_to switch_accounts_path(current_user_2), :class => 'company_profile' do %>
				<li>
					<div class="am-user-profile-image">
						<%= image_tag(current_user_2.photo.url(:thumb)) %>
					</div>
					<div class="am-user-profile-info">
						<span class="am-name"><%= current_user_2.first_last %></span><br />
						<span class="am-email"><%= current_user_2.email %></span><br />
					</div>
					<div class="clear"></div>
				</li>
			<% end %>
		</ul>
		<div class="clear"></div>
	<% end %>
	<div class="am-button-container">
		<%= link_to 'Log Out', logout_path, :class => "button" %>
		<%= link_to 'Help', '#', :class => "button" %>
		<div class="clear"></div>
	</div>
</div>