<% reward = feed_item.item_object %>
<% receiver = reward.receiver %>
<% presenter = reward.presenter %>
<div class="image">
	<% if presenter %>
		<%= link_to presenter do %>
			<%= image_tag(presenter.photo.url(:thumb)) %>
		<% end %>
	<% else %>
		<%= image_tag('/photos/thumb/missing.png') %>
	<% end %>
</div>
<div class="feed-item-center">
	<%= render :partial => 'users/panels/recognition_participants', 
						 :locals => {:left_side_user => presenter,
						 					   :right_side_user => receiver,
						 					   :feed_item => feed_item } %>
	<%= link_to show_recognition_path(:recognition_type_id => feed_item.item_type_id, 
																		:recognition_id => feed_item.item_object.id),
																		:remote => true do %>
		<div class="feed-item">
			<div class="comment-text">
				Rewarded with <%= number_to_currency(reward.value) %> 
					funded by <strong><%= presenter_name(feed_item.item_object) %></strong>
			</div>
		</div>
	<% end %>
	<%= render 'users/panels/item_social', :feed_item => feed_item %>	
</div>
<div class="image">
	<% if receiver %>
		<%= link_to receiver do %>
			<%= image_tag(receiver.photo.url(:thumb)) %>
		<% end %>
	<% else %>
		<%= image_tag('/photos/thumb/missing.png') %>
	<% end %>
</div>
<div class="timestamp">
	<%= timestamp(reward.updated_at) %>
</div>