<% compliment = feed_item.item_object %>
<% sender = compliment.sender %>
<% receiver = compliment.receiver %>
<div class="image">
	<% if sender %>
		<%= link_to sender do %>
			<%= image_tag(sender.photo.url(:thumb)) %>
		<% end %>
	<% else %>
		<%= image_tag('/photos/thumb/missing.png') %>
	<% end %>
</div>
<div class="feed-item-center">
	<%= render 'users/panels/recognition_participants', :feed_item => feed_item %>
	<%= link_to show_recognition_path(:recognition_type_id => feed_item.item_type_id, 
																		:recognition_id => feed_item.item_object.id),
																		:remote => true do %>
		<div class="feed-item">
			<div class="comment-text">
				<%= compliment_text(compliment) %>
			</div>
			<div class="compliment-sender">
				<span style="margin-right: 25px;"><%= compliment_type(compliment) %></span>
				<%= compliment_skill(compliment) %>
			</div>
			<div class="clear"></div>
		</div>
	<% end %>
	<div class="clear"></div>
	<%= render 'users/panels/item_social', :feed_item => feed_item %>
</div>
<div class="image">
	<% if receiver %>
		<%= link_to receiver do%>
			<%= image_tag(receiver.photo.url(:thumb)) %>
		<% end %>
	<% else %>
		<%= image_tag('/photos/thumb/missing.png') %>
	<% end %>
</div>
<div class="timestamp">
	<%= timestamp(compliment.updated_at) %>
</div>

