<div class="feed-item-social">
	<div id="feed-item-social-<%= @count %>" class="social-hide-me">
		<ul id="social-links-list">
			<li id="social-like-<%= @count %>" class="social-like social-link-style">
				<%= likes_link(feed_item.item_object.id, feed_item.item_type_id) %>
			</li>
			<li class="social-comment social-link-style">
				<%= comments_link(feed_item) %>
			</li>
			<li class="social-compliment social-link-style">
				<%= compliments_link(feed_item, "Compliment") %>
				<% if feed_item.item_type_id == @recognition_type_compliment_id || 
							feed_item.item_type_id == @recognition_type_reward_id %>
					<ul class="sub-menu">
						<% if feed_item.item_type_id == @recognition_type_reward_id %>
							<li class="social-compliment-sender"><%= compliments_link(feed_item, "Presenter") %></li>
						<% else %>
							<li class="social-compliment-sender"><%= compliments_link(feed_item, "Sender") %></li>
						<% end %>
						<li class="social-compliment-receiver"><%= compliments_link(feed_item, "Receiver") %></li>
					</ul>
				<% end %>
			</li>
			<li class="social-follow social-link-style"><%= follows_link(feed_item) %>
				<% if feed_item.item_type_id == @recognition_type_compliment_id ||
							feed_item.item_type_id == @recognition_type_reward_id %>
					<ul class="sub-menu">
						<% if feed_item.item_type_id == @recognition_type_reward_id %>
							<li class="social-follow-sender"><%= follows_link(feed_item, "Presenter") %></li>
						<% else %>
							<li class="social-follow-sender"><%= follows_link(feed_item, "Sender") %></li>
						<% end %>
						<li class="social-follow-receiver"><%= follows_link(feed_item, "Receiver") %></li>
					</ul>
				<% end %>
			</li>
<!-- 			<li class="social-share social-link-style"><%= link_to 'Share', '#' %>
				<ul class="sub-menu">
					<%#= render 'social/social_links_list', { :recognition_type_id => feed_item.item_type_id,
																									 :recognition_id => feed_item.item_object.id,
																									 :show_count => false,
																									 :iframe => false } %>
				</ul>
			</li> -->
		<ul>
	</div>
</div>