<% @count = @page * @per_page - @per_page %>
<% unless @karma_live_items.blank? && @count == 0 %>
	<% @karma_live_items.each do |time, feed_item| %>
		<% @count += 1 %>
		<li id="item_<%= @count %>" class="item <%= indicator(feed_item) %>">
			<% if feed_item.item_type_id == @recognition_type_compliment_id %>
				<%= ajax_helpers_compliment(feed_item, @count)%>
				<%= render 'users/panels/item_compliment', :feed_item => feed_item %>
			<% elsif feed_item.item_type_id == @recognition_type_reward_id %>
				<%= ajax_helpers_reward(feed_item, @count)%>
				<%= render 'users/panels/item_reward', :feed_item => feed_item %>
			<% elsif feed_item.item_type_id == @recognition_type_accomplishment_id %>
				<%= ajax_helpers_accomplishment(feed_item, @count)%>
				<%= render 'users/panels/item_accomplishment', :feed_item => feed_item %>
			<% end %>
			<div class="indicator <%= indicator(feed_item) %> clearfix"></div>
			<div class="clear"></div>
		</li>
	<% end %>

<% else %>
	<p style="margin-top: 15px;">
		No Compliments, Rewards or Accomplishments have been received yet.
	</p>
	<div class="clear"></div>
<% end %>