<script>
	$(function() {
		$('#photo-upload-link').click(function(){
			$('#photo-upload-input').click();
		});
	})
</script>
<% if (view_state(@user) == view_state_user_manager ||
			view_state(@user) == view_state_company_manager) &&
			@confirmed %>
	<%= form_tag(upload_photo_path(@user), :multipart => true, 
																	:id => "photo-upload-form", 
																	:remote => true) do %>
		<%= file_field 'user', 'photo', :id => 'photo-upload-input' %>
		<div class="photo-upload <%= upload_background_photo(@user) %>">
			<div class="upload-link-container">
				<%= link_to '+ Add Photo', '#', :class => 'ul_hover', :id => 'photo-upload-link' %>
			</div>
		</div>
	<% end %>
<% else %>
	<div class="photo-upload <%= upload_background_photo(@user) %>"></div>
<% end %>