<div id="user-profile-short" 
		 class="box-no-padding">
	<%= render 'users/panels/account_confirmation', :flash => flash %>
	<div class="photo-small">
		<% if @user && @user.photo_file_name.nil? %>
			<%= render 'users/panels/upload_photo' %>
		<% else %>
			<%= image_tag(@user.photo.url(:small))%>
		<% end %>
	</div>
	<div class="name-location" style="margin-bottom: 0px;">
		<% if @user.is_a_company? %>
			<h1 style="font-size: 20px;"><%= @user.company.name %></h1>
		<% else %>
			<h1 style="font-size: 20px;"><%= @user.first_name %></h1>
			<h2 style="text-align: left; font-size: 16px; font-weight: normal; color: #000; margin-top: -5px;">
				<%= @user.last_name %>
			</h2>
		<% end %>
	</div>
	<% if page_owner?(@user) && @confirmed %>
		<div class="name-location">
			<p style="color: #606060; font-size: 14px;"><%= location(@user) %></p>
		</div>
		<div class="edit-link">
			<%= link_to 'Edit', edit_from_profile_path(@user), :class => "ul_hover", :remote => true %>
			<div class="clear"></div>
			<div style="float: right">
				<% if current_user?(@user) && @pending_items && @pending_items.size > 0 %>
					<p><%= link_to "pending (#{@pending_items.size})", '#pending-items', 
												:class => 'fancybox' %>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>

<% if current_user?(@user) %>
	<div id="pending-items" style="display:none;">
		<h2>Pending Items</h2>
		<% unless @pending_items.blank? %>
			<ul>
			<% @pending_items.each do |relationship| %>
				<li>
					<% if @confirmed %>
						<%= link_to 'Accept', accept_relationship_path(relationship) %> | 
						<%= link_to 'Decline', decline_relationship_path(relationship) %>
					<% else %>
						<span style="color: #B0B0B0;">Please confirm your account to accept/decline</span>
					<% end %>
					<%= pending_relationship_display(relationship) %>
				</li>
			<% end %>
			</ul>
		<% end %>
	</div>
<% end %>