<div id="user-profile-short" 
		 class="box-no-padding">
	<div class="photo-small">
		<% if @user && @user.photo_file_name.nil? %>
			<%= render 'users/panels/upload_photo' %>
		<% else %>
			<%= image_tag(@user.photo.url(:small))%>
		<% end %>
	</div>
	<div class="name-location" style="margin-bottom: 0px;">
		<% if @user.is_a_company? %>
			<h1 style="font-size: 20px;"><%= @user.company.name %></h1>
		<% else %>
			<h1 style="font-size: 20px;"><%= @user.first_name %></h1>
			<h2 style="text-align: left; font-size: 16px; font-weight: normal; color: #000; margin-top: -5px;">
				<%= @user.last_name %>
			</h2>
		<% end %>
	</div>
	<% if page_owner?(@user) && @confirmed %>
		<div class="name-location">
			<p style="color: #606060; font-size: 14px;"><%= location(@user) %></p>
		</div>
		<div class="edit-link">
			<%= link_to 'Edit', edit_from_profile_path(@user), :class => "dark ul_hover", :remote => true %>
			<div class="clear"></div>
		</div>
	<% end %>
	<% if !page_owner?(@user) && @confirmed %>
		<div class="functions clearfix">
			<div class="profile-button" style="padding: 10px 0 0 10px; margin-right: 10px;">
				<%= render 'follows/follows_button', :user => @user %>
			</div>
		</div>
	<% end %>
	<div class="clear"></div>
</div>
