<div class="about-menu">
	<ul>
		<li><%= link_to 'About ComlimentKarma', about_path, :class => 'ul_hover' %></li>
		<li><%= link_to 'Team', team_path, :class => 'ul_hover' %></li>
		<li><%= link_to 'Guidelines', guidelines_path, :class => 'ul_hover' %></li>
		<li><%= link_to 'Contact Us', contact_path, :class => 'ul_hover' %></li>
		<li><%= link_to 'Help', help_path, :class => 'ul_hover' %></li>
	</ul>
</div>
<div id="terms-and-conditions" style="display: none; ">
	<div style="float: right;">
		<%= image_tag 'ck_logo_blue_green.png' %>
	</div>
	<div class="clear"></div>
	<%= render 'shared/terms_and_conditions' %>
</div>