<%= content_for :stylesheets do %>
	<style type="text/css">
		#footer  { display: none; }
		#main-container {display: none;}
	</style>
<% end %>
<%= content_for :javascript do %>
	<script type="text/javascript">
		$(function(){
			var showFlash = <%= flash && !flash.empty? %>;
			HomePage.init(showFlash);
			// CommonScripts.init();
		});
	</script>
<% end %>
<%= content_for :home_page do %>
	<div id="main-container-home" class="container_16">
		<div id="home-page">
			<p style="margin-top: 55px;">Send Compliments<br />
				<span style="letter-spacing: 0px;">Earn</span> Rewards
				<%= image_tag 'reward_money.png', :style => "margin: 0 -5px -10px 0"%>
				<%= image_tag 'gold_trophy.png', :style => "margin: 0 -10px -4px -10px"%>
				<%= image_tag 'certificate.png', :style => "margin: 0 0 -4px -5px"%>
			</p>
			<div id="sub-title">
				<br />
			</div>
			<%#= link_to "Let's Get Started!", signup_path, :class => 'sign-up-button' %>

		</div>
	</div>
	<div class="clear"></div>
	<div id="home-page-bottom">
		<div id="home-page-bg-bars"></div>
		<div class="container_16">
			<div class="grid_16 main" style="margin-top: 0px;">
				<div id="slider-nav" class="grid_1 prefix_15">
					<div id="slider-state-1"></div>
					<div id="slider-state-2"></div>
				</div>
				<div id="slider" style="height: 300px;">
					<%= render 'pages/slides/slide_employee' %>
					<%= render 'pages/slides/slide_employer' %>
				</div>
				<div class="clear"></div>
				<div id='learn-more'>
					<%= link_to "Learn more", about_path, :class => "ul_hover" %>
				</div>
			</div>
		</div>
	</div>	
	<div class="clear"></div>
<% end %>
<%= content_for :no_container do %>
	<div id="home-footer-bottom">
		<div id="home-footer-bg"></div>
		<div class="container_16" style="margin-top: 2px;">
			<div class="grid_16 home-footer">
				<%= render 'layouts/copyright' %>
				<% if current_founder %>
					Welcome <%= current_founder.name %> 
					(<%= link_to "Founder Sign Out", founder_signout_path %>)
				<% end %>
				<% if Rails.env.development? %>
					<div class="container">
						<% if current_user %>
							Current User: (<%= current_user.id %> - <%= current_user.name %>)<br />
						<% else %>
							No Current User<br />
						<% end %>
						<% if current_user_2 %>
							Current User 2: (<%= current_user_2.id %> - <%= current_user_2.name %>)
						<% else %>
							No Current User 2
						<% end %>
						<%#= debug(params)  %>
					</div>
				<% end %>
			</div>
		</div>
		
	</div>
	
	<div style="margin: 230px auto 0 auto; width:980px; height:80px; text-align:left; background-color:#1F1F1F; border-radius:8px; border-bottom: 1px solid black; box-shadow: 0 1px 0 #373731, 0 -1px 0 #0E0D0B;">
		<div style="float: left; padding: 25px;">
			<%#= image_tag 'http://cdn.killerstartups.com/wp-content/themes/killerstatrups/images/logo.png', :height => '30' %>
		</div>
	</div>
<% end %>

<div id="overview" style="display: none;">
	overview
</div>




