<script>
	$(function() {
		$('li.contact').each(function(){
			var showPopup = $(this).find('.show-contact-type');
			var deleteLink = $(this).find('.delete-link');
			var contact = new Contact(this, showPopup, deleteLink);
		});

		$('.search-fancybox').fancybox({
			beforeLoad: function() {
				$('body').addClass('lock-screen');
			},
			beforeClose: function() {
				$('body').removeClass('lock-screen');
			},
			maxWidth: 800,
			// minHeight: 500,
			padding: 0,
			wrapCSS: 'background-color: #A7DBD8;',
			helpers: {
				// overlay: {
				// 	css: {
				// 		'background-color': '#A7DBD8'
				// 	}
				// },
				title: null
			}
		});
	});
</script>
<ul>
	<%= link_to '#new-contact-form', :class => 'search-fancybox' do %>
		<li class="new-contact">
			<div class="plus-sign">+</div>
			<div class="tagline">
				Add a new contact
			</div>
		</li>
	<% end %>
<% contacts.try(:each) do |contact| %>
	<% 
		if contact.group.declined? && !Group.find_by_id(filter_id).try(:declined?)
			next
		end
	%>
	<% c_user = contact.user %>
	<% c_user_memberships = c_user.memberships %>
		<li class="contact">
			<div class="photo">
				<%= image_tag c_user.photo.url(:thumb) %>
			</div>
			<div class="info">
				<%= c_user.first_name %><br />
				<%= c_user.last_name %>
			</div>
			<div class="hover-container">
				<div class="delete-link-container">
					<div class="delete-link">
						<%= link_to image_tag('delete_x_gray.png'), 
												decline_contact_path(:user_id => user.id, :id => contact.id), 
												:remote => true,
												:method => :post,
												:confirm => "Are you sure you want to remove #{c_user.first_last} as a contact?" %>
					</div>
				</div>
				<div class="show-contact-type">
					<span style="color:gray;">&#9660;</span>
				</div>
			</div>
			<%= render :partial => 'contacts/popup',
								 :locals => {:groups => groups, 
								 						 :user => user,
								 						 :c_user => c_user,
								 						 :c_user_memberships => c_user_memberships,
								 						 :filter_id => filter_id} %>
			<div class="clear"></div>
		</li>
<% end %>
</ul>
<%= render 'contacts/new_contact_form' %>