<% unless @professional_experiences.blank? %>
	<ul>
		<% @professional_experiences.each do |exp| %>
			<li class="pro-exp">
				<div class="left-column">
					<p><strong><%= exp.title %></strong></p>
					<p><strong><%= exp.company %></strong></p>
					<p><%= location(exp) %></p>
					<p><%= date_range(exp) %></p>
					<p><%= date_math(exp) %></p>
				</div>
				<div class="right-column">
					<p>
						<strong>Responsibilities</strong>
						<span style="margin-left:10px;"><%= link_to 'Edit', 
								edit_experience_path(exp, :experience_id => exp.id, :user_id => user.id),
								:class => "margin-left: 10px;",
								:remote => true %></span>
					</p>
					<p><%= display_responsibilities(exp.responsibilities) %></p>
				</div>
				<div class="clear"></div>
			</li>
		<% end %>
	</ul>
<% end %>