<div id="my-updates">
	<div id="my-updates-header">
		<h1 style="float: left; margin-left: 10px;">My Notifications</h1>
		<span class="my-notification-header_link">
			<%= link_to 'See All', my_updates_all_path(@user), :class => "ul_hover" %>
		</span>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<% if @my_update_items && current_user.confirmed? %>
		<ul id="my-update-content">
			<% @my_update_items.each do |item| %>
				<% originator = User.find_by_id(item.originating_user_id) %>
				<% if item.recognition_type_id.nil? || item.recognition_id.nil? %>
					<%= link_to user_path(:id => originator.id, :update_history_id => item.id) do %>
						<li class="clearfix <%= set_read_status_css(item) %>" style="border-left: 1px solid #C9E6EE; margin-left: -1px">
							<div class="my-update-all-item-image">
								<%= get_user_photo_thumb(originator) %>
							</div>
							<div class="my-update-item-note">
								<p class="originator-note">
									<strong><%= get_user_full_name(originator) %></strong> <%= item.note %>
								</p>
								<%= render 'my_updates/update_compliments_all', :item => item %>
							</div>
							<%= render 'my_updates/update_indicator_time', :item => item %>
						</li>
					<% end %>
				<% else %>
					<%= link_to show_recognition_path(:recognition_type_id => item.recognition_type_id, 
																						:recognition_id => item.recognition_id,
																						:update_history_id => item.id),
																						:remote => true do %>
						<li class="clearfix <%= set_read_status_css(item) %>" 
								style="border-left: 2px solid #DCF1EF; margin-left: -2px">
							<div class="my-update-all-item-image">
								<%= get_user_photo_thumb(originator) %>
							</div>
							<div class="my-update-item-note clearfix">
								<p class="originator-note">
									<strong><%= get_user_full_name(originator) %></strong> <%= item.note %>
								</p>
								<%= render 'my_updates/update_compliments_all', :item => item %>
							</div>
							<%= render 'my_updates/update_indicator_time', :item => item %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	<% elsif !@user.confirmed? && !@my_update_items.blank? %>
		<div style="margin: 10px 0 0 10px;">
			<strong>
				Please confirm your account to view your notifications (<%= @my_update_items_total %>)
			</strong>
		</div>
	<% end %>
</div>