<div id="user-profile">
	<div id="content-container">
		<div id="karma-live-updates" class="right-two-thirds">
			<ul id="feed-items">
				<% @count = @page * @per_page - @per_page %>
				<% if @results %>
					<% @results.each do |user| %>
						<% @count += 1 %>
						<%= link_to user do %>
							<li id="item_<%= @count %>" class="search-result">
								<div class="image" style="margin: 5px 0 0 0;">
									<%= image_tag(user.photo.url(:thumb)) %>
								</div>
								<div class="feed-item-center">
									<h1><%= user.full_name %></h1>
									<h2><%= location(user) %></h2>
								</div>
							</li>
						<% end %>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>