<script type="text/javascript">
	$(function() {
		UserMenu.init();
		$('#user-menu li').click(function() {
			$('body,html').animate({scrollTop: 0});
		})
	});
</script>
<div id="user-menu" class="box-no-padding">
	<ul>
		<li id="menu-karma-live">
			<%= link_to 'Karma Activity', @user, :remote => true %>
		</li>
		<li id="menu-professional-profile">
			<%= link_to 'Professional Profile', user_professional_profile_path(@user), :remote => true %>
		</li>
		<% if view_state(@user) == view_state_user_manager ||
					view_state(@user) == view_state_user_visitor %>
			<li id="menu-social-profile">
				<%= link_to 'Social Profile', user_social_profile_path(@user), :remote => true %>
			</li>
		<% end %>
		<% if view_state(@user) == view_state_user_manager ||
					view_state(@user) == view_state_company_manager %>
			<li id="menu-received-compliments">
				<%= link_to 'Received Compliments', user_received_compliments_path(@user), :remote => true %>
			</li>
		<% end %>
		<% if view_state(@user) == view_state_user_manager ||
					view_state(@user) == view_state_company_manager %>
			<li id="menu-sent-compliments">
				<%= link_to 'Sent Compliments', user_sent_compliments_path(@user), :remote => true %>
			</li>
		<% end %>
		<li id="menu-achievements">
			<%= link_to 'Achievements', user_achievements_path(@user), :remote => true %>
		</li>
		<% if view_state(@user) == view_state_user_manager ||
					view_state(@user) == view_state_user_visitor %>
			<li id="menu-contacts">
				<%= link_to 'Contacts', user_contacts_path(@user), :remote => true %>
			</li>
		<% end %>
		<% if view_state(@user) == view_state_user_manager ||
					view_state(@user) == view_state_company_manager %>
			<li id="menu-settings">
				<%= link_to 'Settings', user_settings_path(@user), :remote => true %>
			</li>
		<% end %>
		<% if view_state(@user) == view_state_company_visitor ||
					view_state(@user) == view_state_company_manager %>
			<li id="menu-employees">
				<%= link_to 'Employees', user_employees_path(@user), :remote => true %>
			</li>
		<% end %>
	</ul>
</div>