<script>
	$(function() {
			UserProfile.stripeTable();
	})
</script>
<div id="user-profile">
	<div id="user-overview" class="right-two-thirds drop-box-white clearfix">
		<% if @valid_visitor %>
			<div id="user-profile-details" class="first-row clearfix container">
				<div class="personal-container clearfix">
					<div class="demographics-container">
						<div class="demographics">
							<div id="current-experience-container">
								<% unless company_user? || !current_user.confirmed? %>
									<%= render 'experiences/current_experience', :current_experience => @current_experience %>
								<% end %>
							</div>
							<%= render 'follows/follows_button', :user => @user %>
						</div>
					</div>
					<div class="rank-buttons">
						<div class="profile-rank-image">
							<%= complimenter_rank_image(@compliments_sent.to_i) %>
						</div>
						<div class="profile-rank-image">
							<%= rewarder_rank_image(@rewards_sent.to_i) %>
						</div>
					</div>
				</div>
				<%= render 'users/menu/profile/profile_stats', :type => "professional" %>
			</div>
			<%= render 'users/menu/profile/achievements', 
								 :compliments_received_by_skill => @compliments_received_by_skill %>
			<% unless @user_is_a_company %>
				<%= render 'users/menu/profile/experience.html.erb' %>
			<% end %>
		<% else %>
			<div style="padding: 20px;">
				<h1><%= @user.first_last %> is not sharing the Professional Profile</h1>
			</div>
		<% end %>
	</div>
</div>