<div id="content-container">
	<div class="payments-header">
		<p class="title">Secure Checkout</p>
	</div>
	<div id="new-payment-container">
		<div id="payment-order-summary">
			<div class="summary-header">Order Summary</div>
			<div class="order-details">
				<table>
					<tr>
						<td class="od-label">Reward Amount:</td>
						<td>$</td>
						<td class="od-data"><%= number_to_currency(@cart_total) %></td>
						<td></td>
					</tr>
					<tr>
						<td class="od-label">Service Fee:</td>
						<td>$</td>
						<td class="od-data"><%= number_to_currency(@service_fee) %></td>
						<td><%= link_to '?', '#service-fee-description', :class=> 'fancybox' %></td>
					</tr>
					<tr>
						<td class="od-label bold">Total Cost:</td>
						<td>$</td>
						<td class="od-data bold"><%= number_to_currency(@order_total) %></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="paypal-seal-container">
			<!-- Begin Official PayPal Seal -->
			<a href="https://www.paypal.com/us/verified/pal=admin%40complimentkarma%2ecom" target="_blank"><img src="https://www.paypal.com/en_US/i/icon/verification_seal.gif" border="0" alt="Official PayPal Seal"></A>
			<!-- End Official PayPal Seal -->
		</div>
		<div class="clear"></div>
		<%= render 'payments/paypal_iframe' %>
	</div>
</div>
<div id="service-fee-description" style="display: none;">
	The service fee is an 8% + $1 fee assesed on every rewards transation.
</div>