<% if @first_time %>
	<p style="margin-bottom: 10px;">Congratulations - You have received your first compliment!</p>
<% else %>
	<p style="margin-bottom: 10px;">Congratulations!</p>
<% end %>
<div>
	<div style="float: left; overflow: hidden; width: 180px;">
		<%= image_tag @sender.photo.url(:small) %>
	</div>
	<div style="float: left; margin-left: 10px; width: 400px;">
		<p><strong><%= @sender.first_last %></strong> send you a compliment</p>
		<p><%= @compliment.comment %></p>
		<p>
			<span style="color:#606060;">Skill: </span>
			<strong><%= @compliment.try(:skill).name %></strong>
		</p>
		<p>
			<span style="color:#606060;">Compliment Type: </span>
			<strong><%= @compliment.try(:compliment_type).name %></strong>
		</p>
	</div>
	<div style="float: left; margin-left: 10px; width: 60px;">

	</div>
</div>
<div class="clear"></div>



<%= new_account_confirmation_url(@receiver.new_account_confirmation_token) %>