<%= content_for :greeting do %>
	<% if @confirmed_relationship %>
		Congratulations <%= @receiver.first_name %> - 
		You have received your first compliment from 
		<strong><%= @sender.first_last %></strong>!
	<% else %>
		Congratulations <%= @receiver.first_name %>!
	<% end %>
<% end %>

<%= content_for :buttons do %>
	<% if @confirmed_relationship %>
		<span>
			<%= link_to accept_relationship_url(:id => @relationship.id) do %>
				<%= image_tag 'https://s3.amazonaws.com/compliment_karma_prod/buttons/accept.png',
						:height => '30' %>
			<% end %>
		</span>
		<span style="margin-left: 40px;">
			<%= link_to  decline_relationship_url(:id => @relationship.id) do %>
				<%= image_tag 'https://s3.amazonaws.com/compliment_karma_prod/buttons/decline.png', 
						:height => '30' %>
			<% end %>
		</span>
	<% else %>
		<%= link_to show_recognition_url(:recognition_type_id => RecognitionType.COMPLIMENT.id,
																 		 :recognition_id => @compliment.id) do %>
			<%= image_tag 'https://s3.amazonaws.com/compliment_karma_prod/buttons/view_details.png',
										:height => '30' %>
		<% end %>
	<% end %>
<% end %>


