<script type="text/javascript">
	$(function() {
		FormHelpers.init();
		ComplimentReceiver.init();
		SkillAutoComplete.init();
		ComplimentUI.init(<%= current_user.id %>);
	});
</script>
<div id="scroll-sticky" class="right-two-thirds">
	<div id="new-compliment-container" class="right-two-thirds top-box" >
		<% unless view_state(@user) == view_state_user_visitor %>
			<% unless @confirmed %>
				<div class="unclickable right-two-thirds">
					<h1>Please confirm your email before sending a compliment</h1>
				</div>
			<% end %>
		<% end %>
		<div id="new-compliment">
			<p class="new-compliment-heading"><%= new_compliment_heading(@user) %></p>
			<%= form_for(@compliment,
									 :html => {:id => 'compliment-form'}, 
									 :remote => true) do |f| %>
				<%= hidden_field_tag 'request_page', "user" %>
				<%= hidden_field_tag 'skill_id_result' %>
				<%= hidden_field_tag "compliment_receiver_id", @compliment.receiver_user_id %>
				<%= hidden_field_tag "receiver_is_a_company", @receiver_is_a_company %>
				<%= hidden_field_tag "sender_is_a_company", @sender_is_a_company %>

				<div id="data-entry" class="clearfix" style="padding-right: 10px;">
					<div id="label">
						<div style="position: absolute; margin: 5px 0 0 30px; font-size: 14px; float:none; z-index: 2;">
							<%= link_to '(?)', '#compliment-type-helper', :class => "ul_hover fancybox", :style=>"color:#808080;" %>
						</div>
						<%= label_tag 'receiver', 
													"To", 
													:class => "new-compliment" %>
					</div>
					<div id="field"><%= text_field 'compliment', 'receiver_display', 
																					 :placeholder => "receiver's name or email",
																					 :autocomplete => 'off',
																					 :class =>"new-compliment-input" %>
					  <div id="compliment-receiver-results-container" 
					  		 class="compliment-receiver-search drop-box-white"></div>
						<div id="compliment_receiver_error"></div>
					</div>
				</div>
				<div class="hide-me">
					<div id="data-entry" class="clearfix">
						<div id="label">
							<%= f.label :skill_id, 
													"Skill", 
													:class => "new-compliment" %>
						</div>
						<div id="field"><%= f.text_field :skill_id,
																						 :placeholder => "start typing for a list", 
																						 :autocomplete => 'off',
																						 :class =>"new-compliment-input" %>
							<div id="skill-auto-complete" class="skill-auto-complete box-no-padding"></div>
						</div>
					</div>

					<div id="data-entry" class="clearfix">
						<div id="label">
							<%= f.label :comment, 
													"Comment", 
													:class => "new-compliment" %>
						</div>
						<div id="field"><%= f.text_area :comment, :rows => 2, :class => 'new-compliment-textarea' %>
							<div id="compliment_comment_error"></div>
						</div>
					</div>
							
					<div id="data-entry" class="clearfix" style="margin-bottom: 0px;">
						<div id="label" style="padding-top: 0px;">
							<%= f.label :compliment_type, 
													"Type", 
													:class => "new-compliment", 
													:style => "padding-top: 0px;"%>
						</div>
						<div id="field">
							<div id="compliment-type-select">
								<%= f.collection_select :compliment_type_id, 
																				@compliment_types, 
																				:id, 
																				:list_name, 
																				{:prompt => "select compliment type"},
																				{:class => "new-compliment-select"} %>
							</div>
							<div id="compliment_compliment_type_error"></div>
						</div>
					</div>
					<div style="margin-bottom: 10px;">
						<div style="float: left;">
							<button class="send-new-compliment-button" type=submit>Send Compliment</button>
						</div>
						<div id="sending-compliment-spinner" style="display: none; float: right; padding: 15px 5px 0 0;">
							Sending Compliment...
							<%= image_tag 'ajax-loader.gif' %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<%= render 'compliments/recent_compliments', 
							 :compliments_since_last_monday => @compliments_since_last_monday%>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div id="compliment-type-helper" style="display: none;">
	<div class="about-content">
		<%= render 'pages/help_compliment_module' %>
	</div>
</div>