<script type="text/javascript">
	$(function() {
		FormHelpers.init();
		SkillAutoComplete.init();
		ComplimentUI.init();
	});
</script>
<div id="scroll-sticky" class="right-two-thirds">
	<div id="new-compliment-container" class="right-two-thirds top-box" >
		<% unless @confirmed %>
			<div class="unclickable right-two-thirds">
				<h1>Please confirm your account before sending a compliment</h1>
			</div>
		<% end %>
		<div id="new-compliment">
			<p class="new-compliment-heading"><%= new_compliment_heading(@user) %></p>
			<%= form_for(@compliment, :validate => true, :html => {:id => 'compliment-form'}) do |f| %>
				<%= hidden_field_tag 'request_page', "user" %>
				<%= hidden_field_tag 'skill_id_result' %>
				<%#= f.hidden_field :sender_email, :value => current_user.email %>

				<div id="data-entry" class="clearfix">
					<div id="label"><%= f.label :receiver_email, "To", :class => "new-compliment" %></div>
					<div id="field"><%= f.text_field :receiver_email, 
																					 :placeholder => "receiver's email address",
																					 :class =>"new-compliment-input" %>
						<div id="compliment_receiver_email_helper"></div>
					</div>
				</div>
				<div class="hide-me">
					<div id="data-entry" class="clearfix">
						<div id="label"><%= f.label :skill_id, "Skill", :class => "new-compliment" %></div>
						<div id="field"><%= f.text_field :skill_id,
																						 :placeholder => "start typing for a list", 
																						 :autocomplete => 'off',
																						 :class =>"new-compliment-input" %>
							<div id="skill-auto-complete" class="skill-auto-complete box-no-padding"></div>
							<div id="compliment_skill_id_error"></div>
						</div>
					</div>

					<div id="data-entry" class="clearfix">
						<div id="label"><%= f.label :comment, "Comment", :class => "new-compliment" %></div>
						<div id="field"><%= f.text_area :comment, :rows => 2, :class => 'new-compliment-textarea' %>
							<div id="compliment_comment_error"></div>
						</div>
					</div>
							
					<div id="data-entry" class="clearfix" style="margin-bottom: 0px;">
						<div id="label" style="padding-top: 0px;">
							<%= f.label :compliment_type, "Type", :class => "new-compliment", :style => "padding-top: 0px;" %>
						</div>
						<div id="field"><%= f.collection_select :compliment_type_id, ComplimentType.all, :id, :name, 
																										{:prompt => "select compliment type"},
																										{:style => "width: 338px; height: 38px;"} %>
							<div id="compliment_compliment_type_error"></div>
						</div>
					</div>
					<div style="margin-bottom: 10px;">
						<div style="float: left;">
							<button class="send-new-compliment-button" type=submit>Send Compliment</button>
						</div>
						<div style="float: right; padding-top: 15px;">
							<%#= link_to "&#8593; minimize".html_safe, '#', 
													:style => "font-size: 11px;",
													:id => 'minimize-me' %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<%= render 'compliments/recent_compliments', 
							 :compliments_since_last_monday => @compliments_since_last_monday%>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
