<div id="my-updates">
	<div id="my-updates-header">
		<h1 style="float: left; margin-left: 10px;">My Action Items</h1>
		<span class="my-notification-header_link">
			<%= link_to 'See All', user_action_items_path(user), :class => "ul_hover" %>
		</span>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<% if action_items && user.confirmed? %>
		<ul id="action-item-content">
			<% action_items.limit(5).each do |item| %>
				<% originator = item.originating_user %>
				<% if item.recognition_type_id.nil? || item.recognition_id.nil? %>
					<li class="clearfix my-updates-list" 
						  style="border-left: 1px solid #C9E6EE; margin-left: -1px">
						<%= link_to user_action_item_path(user, item) do %>
							<div class="my-update-all-item-image">
								<%= get_user_photo_thumb(originator) %>
							</div>
							<div class="my-update-item-note">
								<p class="originator-note">
									<strong><%= get_user_full_name(originator) %></strong> <%= item.note %>
								</p>
								<%= render 'my_updates/update_compliments_all', :item => item %>
							</div>
							<%= render 'action_items/action_item_indicator_time', :item => item %>
						<% end %>
						<%= render :partial => 'action_items/accept_decline_buttons', 
											 :locals => {:item => item, 
											 						 :user => user,
											 						 :originator => originator} %>
					</li>
				<% else %>
					<li class="clearfix my-updates-list" 
							style="border-left: 2px solid #DCF1EF; margin-left: -2px">

						<%= link_to show_recognition_path(:recognition_type_id => item.recognition_type_id, 
																							:recognition_id => item.recognition_id,
																							:update_history_id => nil),
																							:remote => true do %>
							<div class="my-update-all-item-image">
								<%= get_user_photo_thumb(originator) %>
							</div>
							<div class="my-update-item-note clearfix">
								<p class="originator-note">
									<strong><%= get_user_full_name(originator) %></strong> <%= item.note %>
								</p>
								<%= render 'my_updates/update_compliments_all', :item => item %>
							</div>
							<%= render 'action_items/action_item_indicator_time', :item => item %>
						<% end %>
						<%= render :partial => 'action_items/accept_decline_buttons', 
											 :locals => {:item => item, 
											 						 :user => user,
											 						 :originator => originator} %>
					</li>
				<% end %>
			<% end %>
		</ul>
	<% elsif !@user.confirmed? && !@my_update_items.blank? %>
		<div style="margin: 10px 0 0 10px;">
			<strong>
				Please confirm your account to view your action items (<%= @action_items_count %>)
			</strong>
		</div>
	<% end %>
</div>