<%= content_for :stylesheets do %>
	<style type="text/css">
		#header, #footer { display: none; }
	</style>
<% end %>
<div class="grid_16">
	<div style="width: 570px; margin: 0 auto 0 auto;">
		<div id="login-logo" style="margin: 100px 0 10px 0;">
			<%= link_to image_tag('ck_logo.png'), root_path %>
		</div>
		<div class="box" style="padding: 0 20px 20px 20px;">
			<div id="explanation">
				<%= render 'shared/flash', :flash => flash %>
			</div>
			<h1 style="margin-top: 20px;">Welcome to Compliment Karma</h1>
			<h3>Your account has been confirmed</h3>
			<% if current_user %>
				<p>Visit <%= link_to 'your profile', current_user %> to start sending and receiving compliments</p>
			<% else %>
				<p>Please <%= link_to 'log in', login_path %> to start sending and receiving compliments</p>
			<% end %>
		</div>
	</div>
</div>