<div id="footer">
	<div class="container_16">
		<div class="grid_5 prefix_11">
			<% if Rails.env.development? %>
				<% if current_founder %>
					Welcome <%= current_founder.name %> 
					(<%= link_to "Founder Sign Out", founder_signout_path %>)
				<% end %>
				<div class="container">
					<% if current_user %>
						Current User: (<%= current_user.id %> - <%= current_user.name %>)<br />
					<% else %>
						No Current User<br />
					<% end %>
					<% if current_user_2 %>
						Current User 2: (<%= current_user_2.id %> - <%= current_user_2.name %>)
					<% else %>
						No Current User 2
					<% end %>
					<%#= debug(params)  %>
				</div>
			<% end %>
		</div>
	</div>
</div>