<script>
	$(function() {
		console.log("Create popup");
		var popup = new Popup('.header-action-item-indicator');
	});
</script>
<div id="header">
	<div class="container_16">
		<div id="logo">
			<% if current_user %>
				<%= link_to image_tag('ck_logo.png'), current_user %>
			<% else %>
				<%= link_to image_tag('ck_logo.png'), root_path %>
			<% end %>
		</div>
		<%= render 'my_updates/my_updates_indicator' %>
		<%= render 'action_items/action_items_indicator' %>
		<div id="nav-upper-right">
			<ul>
				<% if current_user.nil? %>
					<li><%= link_to 'Log In', login_path %></li>
					<li><%= link_to 'Sign Up', signup_path %></li>
					<li><%#= link_to 'Pricing', pricing_path %>
				<% else %>
					<li>
						<%= link_to current_user, :id => "am-hover-me", :style => "inline-block;" do %>
							<%= current_user.email %> &#9660;
						<% end %>
						<%= render 'admin/header/admin_menu' %>
					</li>
					<li><%#= link_to 'Pricing', pricing_path %></li>
				<% end %>
			</ul>				
		</div>
		<div id="menu-bar-container">
			<div id="nav-main-menu">
				<% if current_user.nil? %>
					<ul>
						<li><%= home_link('Home') %></li>
						<li style="border-right: none;"><%= link_to 'About', about_path %></li>
					</ul>
				<% else %>
					<ul>
						<li><%= home_link('Home') %></li>
					</ul>
				<% end %>
			</div>
			<%= render 'search/site_search_form' %>
			<%= render 'social/share_this_links' %>
		</div>
		<div class="clear"></div>
	</div>
</div>