<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <title><%= title(@title) %></title>
  <meta name="description" content="<%= @meta_description %>" />
	<meta property="og:type" content="activity"/>
	<meta property="og:image" content="<%= @og_meta_image %>"/>
	<meta property="og:image:url" content="<%= @og_meta_image %>"/>
	<meta property="og:site_name" content="ComplimentKarma"/>
	<meta property="fb:app_id" content="359374450819330"/>
	<meta property="og:title" content="<%= @og_meta_title %>"/>
	<meta property="og:url" content="<%= @og_meta_url %>"/>
	<meta property="og:description" content="<%= @og_meta_description %>"/>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= yield :stylesheets %>
	<%= yield :javascript %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
	<script type="text/javascript">
		$(function() {
			var flashContent = '<%=j render("shared/flash", :flash => flash ) %>';
			CommonScripts.showFlash(flashContent);
			CommonScripts.showSpinner();
			FooterResize.init();
			
			$('.fancybox').fancybox({
				beforeLoad: function() {
					$('body').addClass('lock-screen');
				},
				beforeClose: function() {
					$('body').removeClass('lock-screen');
				},
				maxWidth: 800,
				wrapCSS: 'background: #ffffff;'
			});
			$('.google-fancybox').fancybox({
				'padding': 0,
        'autoScale': false,
        'transitionIn': 'none',
        'transitionOut': 'none',
        // 'title': 'Upload Video',
        'minWidth': 430,
        'minHeight': 300,
        'type':'iframe'
			})

			var siteSearchMain = new SiteSearch($('#search_string'), 'main');

		});
	</script>
	<%= render 'social/scripts/share_this' %>
	<% if Rails.env.production? %>
		<%= render 'layouts/google_analytics' %>
	<% end %>
</head>
<body>
	<div id="flash-container">
		<div id="explanation">
			<%= render 'shared/flash', :flash => flash %>
		</div>
	</div>
	<% if company_user? %>
		<%= render 'layouts/admin_header' %>
	<% else %>
		<%= render 'layouts/header' %>
	<% end %>
	<%= yield :home_page %>
	<div id="main-container" class="container_16">
		<%= yield %>
		<div class="clear"></div>
	</div>
	<%= yield :no_container %>
	<div class="clear"></div>
	<div id="expansion-div" class="container_16 clearfix"></div>
	<%= render 'layouts/footer' %>
</body>
</html>
