<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
  <title>Compliment Karma Application | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript">
	</script> 
	
  <%= csrf_meta_tags %>
	<%= yield :stylesheets %>
	<%= yield :javascript %>
	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
	<script type="text/javascript">
		$(function() {
			if(<%= flash && !flash.empty? %>) {
				$('#explanation').slideDown(200);
			}
			$.fn.resizeMe();
			
			$('.fancybox').fancybox();
			SiteSearch.init();
		});
	</script>
</head>
<body>
	<%= render 'social/facebook_javascript' %>
	<%= render 'social/twitter_javascript' %>
	<% if @admin %>
		<%= render 'layouts/admin_header' %>
	<% else %>
		<%= render 'layouts/header' %>
	<% end %>
	<%= yield :flash_container %>
	<%= yield :home_page %>
	<div id="main-container" class="container_16">
		<%= yield %>
		<div class="clear"></div>
	</div>
	<%= yield :no_container %>
	<div class="clear"></div>
	<div id="expansion-div" class="container_16 clearfix"></div>
	<%= render 'layouts/footer' %>
</body>
</html>
