<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			.clear {clear: both; }
			.button {
			   display: inline-block;
			   border: 1px solid #005B15;
			   padding: 5px 14px;
			   -webkit-border-radius: 5px;
			   -moz-border-radius: 5px;
			   border-radius: 5px;
			   font-weight: bold;
			   text-shadow: rgba(0,0,0,.4) 0 1px 0;
			   color: #ffffff;
			   font-size: 14px;
			   text-decoration: none;
			   vertical-align: middle;
			   text-align:center;
			 }
			a { color: #000; text-decoration:none; }
			a:hover { text-decoration:underline; }
			.green-gradient {
				background: #00781c;
				background: -webkit-gradient(linear, left top, left bottom, from(#038a22), to(#00781c));
				background: -webkit-linear-gradient(top, #038a22, #00781c);
				background: -moz-linear-gradient(top, #038a22, #00781c);
				background: -ms-linear-gradient(top, #038a22, #00781c);
				background: -o-linear-gradient(top, #038a22, #00781c);
				color: #ffffff;
			}
			.green-gradient:hover {
				text-decoration: none;
				background: #00781c;
			}
			.red-gradient {
				background: #ff3019;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
				background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
				background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
				background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
				background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
			}
			.red-gradient:hover {
				text-decoration: none;
				background: #cf0404;
			}
		</style>
	</head>
	<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
							font-size: 14px;">
		<div id="message-container" 
				 style="background: #DCF1EF; width: 500px;	
								-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;">
			<%= render 'layouts/mailer/header' %>
			<div id="content-container" style="padding: 5px; border-top: 1px solid #ffffff;">
				<div id="content-greeting" style="margin: 20px 0; font-size: 16px; font-weight: bold;">
					<%= yield :greeting %>
				</div>
				<div id="content-compliment">
					<div style="float: left; text-align: center; overflow: hidden; width: 100px; height: 100px;">
						<%= image_tag @sender.photo.url(:small), :height => '100' %>
					</div>
					<div style="float: left; margin-left: 10px; width: 310px;">
						<strong><%= @sender.first_last %></strong> sent you a compliment<br /><br />
						<%= @compliment.comment %><br /><br />
						
						<span style="color:#606060;">Skill: </span>
						<strong><%= @compliment.try(:skill).name %></strong>
						<br />
						<span style="color:#606060;">Compliment Type: </span>
						<strong><%= @compliment.try(:compliment_type).name %></strong>
						<br />
					</div>
					<div style="float: right; margin-left: 10px; width: 60px;">
						<span style="text-align: right; margin-top: 40px;"><%= @timestamp %></span>
					</div>
				</div>
				<div id="clear" style="clear: both;"></div>

				<div id="message-buttons" style="margin: 30px 0px; text-align: center;">
					<%= yield :buttons %>
				</div>
				<div id="clear" style="clear: both;"></div>
				<%= yield :bottom_content %>
				<div>
					Sincerely,<br /><br />
					Customer Service Team<br />
					<%= link_to 'ComplimentKarma.com', 'http://www.complimentkarma.com' %><br />
					<%= mail_to 'info@complimentkarma.com', 'info@complimentkarma.com' %><br />
				</div>
			</div>
		</div>
	</body>
</html>